<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CNURLShrinky-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CNURLShrinky.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>905FB6C314CB213400A3CCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>905FB6D714CB213500A3CCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>905FB6F914CB21FA00A3CCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>905FB70714CB21FA00A3CCBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
