<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Service Name</key>
	<string>Bit.ly</string>
	<key>API URL</key>
	<dict>
		<key>shorten</key>
		<dict>
			<key>urlParam</key>
			<string>longUrl</string>
			<key>endpoint</key>
			<string>/v3/shorten</string>
		</dict>
		<key>base</key>
		<string>https://api-ssl.bitly.com</string>
		<key>format</key>
		<string>format</string>
		<key>login</key>
		<string>login</string>
		<key>apiKey</key>
		<string>apiKey</string>
	</dict>
	<key>Data Format</key>
	<dict>
		<key>Plain Text</key>
		<false/>
		<key>JSON</key>
		<true/>
		<key>XML</key>
		<false/>
	</dict>
</dict>
</plist>
